body {
    font-family:"Arial";
}

.main-image{
       border: solid 4px black;
       border-radius: 50%;
}

h1{
   background-color:green;
   padding:5px;
}

.section-title{
            text-transform:capitalize;
}